body {    
     background:linear-gradient(to left top, whitesmoke, lightblue);
     scroll-behavior: smooth;
}
h4{
    text-align: center;
    color: dimgray;
} 
/*
form{
    padding: 40px;
    text-align: right;
}*/

/*/////////////HEADER///////////////////////*/
header{
    color: whitesmoke;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
header h1{
    font-size: 90px;
}
/*//////////////ID NAV//////////////////////*/
#nav .connexion form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#nav .connexion input{
    margin: 10px 0;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 2px solid cornflowerblue;
    transition: 0.25s;
    border-radius: 10px;
}

#nav .connexion input:hover{
    border-bottom: 2px solid salmon;
}
#nav .connexion button{
    margin: 10px 0;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 2px solid cornflowerblue;
    transition: 0.25s;
    border-radius: 10px;
}

#nav .connexion button:hover{
    border-bottom: 2px solid salmon;
}
/*//////////////CLASS NAVIGATION//////////////////////*/
.navigation{
    text-align: right;
    font-family: 'Poppins', sans-serif;
    width: 1500px;
    height: 100px;
    margin: 20px;
    background-color: ghostwhite;
   /* background-image: linear-gradient(to bottom, rgba(100,20,128,0.5),rgba(255,128,255,0.5));;*/
    border-radius: 10px;
}
.navigation ul li{
   
    list-style: none;
    display: inline-block;
    padding: 25px;
     float: left;
}
.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 400;

}
.navigation ul li:hover a .icone{
    transform: translateY(-35px);
}
.navigation ul li a .icone {
    position: relative;
    display: block;
    line-height: 15px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
}
.navigation ul li a .txt{
    position: absolute;
    color: black;
    font-weight: 0.85em;
    letter-spacing: 0.1em;
    transition: 0.5s;
    opacity: 0;
}
.navigation ul li:hover a .txt{
    opacity: 1;
   
} 
/*///////////////CONTENU PRINCIPAL/////////////////////*/

.contenu_principal{
    position: relative;
    width: 280px;
    height: 280px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0px 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    
}
/*///////////////A PROPOS/////////////////////*/

#apropos .contient{
    padding: 70 px 10px;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
#apropos .contient .gauche{
    width: 70%;
    background-color: lightblue;
     border-radius: 5px;
}
#apropos .contient .gauche h3{
    font-size: 2em;
    color: ghostwhite;
}
#apropos .contient .droite{
    width: 30%;
    background-color: ghostwhite;
     border-radius: 5px;

}
#apropos .contient .droite h3{
    font-size: 2em;
    color: dimgray;
}

/*///////////GESTION RDV/////////////////////////*/

.gestionrdv ul li{
   
    list-style: none;
    display: inline-block;
    padding: 25px;
     float: left;
}
.gestionrdv ul li h3{
    color: black;
}
.gestionrdv ul li button{
    border-radius: 15px;
    border: none;
}
.gestionrdv ul li img{
    border-radius: 15px;
    border: none;
}

.gestionrdv ul li:hover{
    transform: translateX(25px);
}
/*////////////////CAROUSSEL ET ANIMATIONS////////////////////*/

.caroussel{
    display: flex;
    overflow: hidden;
    background-color: black;
 }
.images{
       display: flex;
       flex:  auto;
       animation-duration: 20s;
       animation-name: Panel;
       animation-iteration-count: infinite ;

}
@keyframes Panel{
  0%{
       transform: translateX(0px);

  }
  25%{
      transform: translateX(-400px);   
  }
  50%{
       transform: translateX(-800px) ;
  }
  75%{
        transform:translateX(-1200px) ;
  }
  100%{
          transform: translateX(0px);
  }

}

/*////////////TEST CHATBOX////////////////////////*/
.chat-bar-collapsible{
    position:fixed;
    bottom: 0;
    right: 50px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.collapsible{
    background-color: rgb(82, 151, 255);
    color:  whitesmoke;
    cursor: pointer;
    padding: 18px;
    width: 350px;
    text-align: left;
    outline: none;
    font-size: 18px;
    border-radius: 10px 10px 0px 0px;
    border: 3px solid white;
    border-bottom: none;
}
/*
.content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: navajowhite;

}
*/
.full-chat-block{
    width: 350px;
    background: white;
    text-align: center;
    overflow: auto;
    height: max-content;
    transition: max-height 0.2s ease-out;
}

.outer{
    min-height: 500px;
    bottom: 0%;
    position: relative;
}

.chat-container{
    max-height: 500px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    scroll-behavior: smooth;
    hyphens: auto;
}

.chatbox{
    display: flex;
    float: left;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    align-items:center ;
    background-color: rgb(235, 235, 235);
    padding: 10px 0px 10px 10px;
}
}
/*////////////FOOTER////////////////////////*/
#footer { font-size: .60em;
 font-style: italic; 
 }
