
body{
	
	overflow: hidden;
	background-color: lightblue;
}
.container{
	position: relative;
	width: 600px; /*note pour centrer on peut mettre à 1600 px*/
	min-height: 600px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(5px);
	box-shadow: 0px 25px 45px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.5);
}
table{

	width: 500px;
	height: 700px;
	align-items: center;
}
.inputbox{
	height: 20px;
	width: 280px;
}

 