body{
     background:linear-gradient(whitesmoke, skyblue);
     height: 715px;
}
h1{
    color: dimgray;
}
legend{
    color: dimgray;
}
h3{
    color: linen;
    background-color: blur;
}
fieldset{
    background-color: blur;
}
.contenu{
    width: 1000px;
    background-color: lightblue;
    margin-left: 280px;
    border-radius: 15px;

}
#credit-card .infosbanque input{
    margin: 10px 0;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 2px solid cornflowerblue;
    transition: 0.25s;
    border-radius: 10px;
}
#credit-card .infosbanque select{
    margin: 10px 0;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 2px solid cornflowerblue;
    transition: 0.25s;
    border-radius: 10px;
}
#credit-card .infosbanque button{
    margin: 10px 0;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 2px solid cornflowerblue;
    transition: 0.25s;
    border-radius: 10px;
}
#credit-card .infosbanque table{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 250px;
    margin-right: 100px;
}
.paie{
    background-color: whitesmoke;
    border-radius: 50px;
    height: 550px;
 
}
.type_carte{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    width: 550px;
    height: 90px;
    margin: 20px;
    background-color: blur;
    border-radius: 10px;
}
.type_carte ul li{
   
    list-style: none;
    display: inline-block;
    padding: 25px;
     float: left;
}
.type_carte ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85px;
    height: 40px;
    text-align: center;
    font-weight: 400;
    background-color: whitesmoke;
    border-radius: 25%;
    color: cornflowerblue;

}
.type_carte ul li:hover a {
    transform: translateY(-25px);
}

.type_carte ul li a .txt{
    position: absolute;
    color: black;
    font-weight: 0.85em;
    letter-spacing: 0.1em;
    transition: 0.5s;
    opacity: 0;
}
.type_carte ul li:hover a .txt{
    opacity: 1;
   
} 
