body {    
    background-color: black;
     font-family: Arial, Helvetica, sans-serif; 
}
.contenu_principal{
    background-image: linear-gradient(to bottom, rgba(0, 128, 130, 0.5), rgba(255, 120, 60, 0.5));
}
.header{
    text-align: right;
    font-family: 'Poppins', sans-serif;
    width: 1500px;
    height: 100px;
    margin: 20px;
    background-color: ghostwhite;
   /* background-image: linear-gradient(to bottom, rgba(100,20,128,0.5),rgba(255,128,255,0.5));;*/
    border-radius: 10px;
}
.header ul li{
   
    list-style: none;
    display: inline-block;
    padding: 25px;
     float: left;
}
.header ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 400;

}
.header ul li:hover a .icone{
    transform: translateY(-35px);
}
.header ul li a .icone {
    position: relative;
    display: block;
    line-height: 15px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
}
.header ul li a .txt{
    position: absolute;
    color: black;
    font-weight: 0.85em;
    letter-spacing: 0.1em;
    transition: 0.5s;
    opacity: 0;
}
.header ul li:hover a .txt{
    opacity: 1;
   
} 
.surligne{
    position: absolute;
     top: -50%;
     width: 70px;
     height: 70px;
     background: limegreen;
     border-radius: 50%;
     border: 6px solid sandybrown;
     transition: 0.5s;
}   

form{
    padding: 40px;
    text-align: right;
}

.caroussel{
    display: flex;
      overflow: hidden;
 }
.images{
       display: flex;
       flex:  auto;
       animation-duration: 20s;
       animation-name: Panel;
       animation-iteration-count: infinite ;

}
@keyframes Panel{
  0%{
       transform: translateX(0px);

  }
  25%{
      transform: translateX(-400px);   
  }
  50%{
       transform: translateX(-800px) ;
  }
  75%{
        transform:translateX(-1200px) ;
  }
  100%{
          transform: translateX(0px);
  }

}
#footer { font-size: .60em;
 font-style: italic; 
 }
