
#carrousel {
 position: relative;
 height: 200px;
 width: 700px;
 margin: auto;
}
#carrousel ul li {
 position: absolute;
 top: 0;
 left: 0;
 list-style: none;
}
.next {
 position: relative;
 top: 250px; 
 left: 900px; 
 background-color: #add080;
 font-size: 20px;
 border-radius: 6px;
}
.prev {
 position: relative;
 top: 250px; 
 left: 420px;
 background-color: #add080;
 font-size: 20px;
 border-radius: 6px;
}